<header>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <li class="nav-item active">
            <a class="nav-link fst-pops fsz-10 text-dark" href="#">INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link fst-pops fsz-10 text-dark" href="#">ARTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fst-pops fsz-10 text-dark" href="#">LOGIN/CADASTRO</a>
        </li>
    </div>

    <div class="ml-auto">
            <ul class="navbar-nav d-flex align-items-center mr-4">
                <li class="nav-item pr-3">
                    <p class="m-0 font-weight-bolder">R . U . A</p>
                </li>
                
                <li class="nav-item active">
                    <img src="../../assets/logo.jpg" alt="foto de perfil" width="80px" height="80px" class="img-fluid rounded-circle">
                </li>
            </ul>
    </div>
</nav>

<div class="container-fluid text-light" style="margin-top: 150px;" id="borda-texto">
    <h1 class="d-flex justify-content-center slogan text-warning">R . U . A</h1>
    <h3 class="d-flex justify-content-center slogan text-warning">RESISTENCIA URBANA ARTISTICA</h3>
    <h4 class="d-flex justify-content-center slogan text-warning"></h4>
</div>
</header>