body {
    background-image: url('../../assets/parededamao.png');
    background-size: cover;
    background-position-x: center;
    height: 100vh;
}

.caixa {
    margin-top: 8%;
    background: rgba(228, 228, 228, 0);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );  */
}


.botaoEstilo {
    width: 45%;
    background-color: #888888;
    border: 1px solid  #8888885a;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    font-weight: bold;
}

.botaoEnviar:hover {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    color: black;
}

.botaoCancelar:hover {
    background-color: #ffcb43;
    background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
    color: black;
}

.fs-16 {
    font-size: 16pt;
}