<body>
    <div class="container d-flex justify-content-center">
        <div class="col-md-8 container-fluid p-0 caixa">
            <h1 class="text-center m-2">CADASTRO</h1>
            <form class="d-flex justify-content-center text-white mx-3 fs-16">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input
                        type="text"
                        class="form-control"
                        name="nome"
                        placeholder="Digite seu nome"
                        [(ngModel)]="usuario.nome"
                        />
                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuário:</label>
                        <input
                        type="text"
                        class="form-control"
                        name="usuario"
                        placeholder="ex: email@email.com"
                        [(ngModel)]="usuario.usuario"
                        />
                    </div>
                    <div class="form-group">
                        <label for="foto">Link da Foto:</label>
                        <input
                        type="text"
                        class="form-control"
                        name="foto"
                        placeholder="Insira o link da sua foto"
                        [(ngModel)]="usuario.foto"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input
                        type="password"
                        class="form-control"
                        name="senha"
                        placeholder="Digite sua senha"
                        />
                    </div>
                    <div class="form-group">
                        <label for="confirmSenha">Confirmar senha:</label>
                        <input
                        (input)="confirmSenha($event)"
                        type="password"
                        class="form-control"
                        name="confirmSenha"
                        placeholder="Digite sua senha"
                        [(ngModel)]="usuario.senha"
                        />
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo de usuário:</label>
                        <select
                        name="tipo"
                        id="tipo"
                        class="form-control"
                        (change)="tipoUser($event)"
                        >
                        <option value="">Selecione um tipo de usuário</option>
                        <option value="normal">Padrão</option>
                        <option value="adm">Administrador</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center mt-2 mb-4">
                <button
                type="submit"
                class="btn botaoEstilo botaoCancelar mr-4"
                routerLink="/entrar"
                >
                CANCELAR
                </button>
                <button
                type="submit"
                class="btn botaoEstilo botaoEnviar"
                (click)="cadastrar()"
                >
                CADASTRAR
                </button>
            </div>
        <hr class="my-3" />
                <p class="text-center font-weight-bolder">
                    Já tem uma conta? <a routerLink="/entrar">Faça login!</a>
                </p>
        </div>
    </div>
</body>
