<body>
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <section class="col-12 col-sm-6 col-md-4 pt-5">
                <div class="d-flex justify-content-center mb-3">
                    <img src="../../assets/logo.jpg" alt="logo" class="bg">
                </div>
                <div id="borda">
                <form>
                    <h4 class="text-center mt-4">Login</h4>
                    
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" placeholder="ex: Email@email.com">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="Senha" placeholder="Senha">
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="">
                        <label class="formchecklabel">Lembre-me</label>
                    </div>

                    <button class="btn btn-dark btn-block">Entrar</button>
                </form> 
                <hr class="mt-5 mb-5" />
                <p class="text-center">
                    Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                </p>
                </div>
            </section>
        </div>
    </div>
</body>




























